POSTGRES_DB=hr_peopleops
POSTGRES_USER=hr_user
POSTGRES_PASSWORD=CHANGE_ME_STRONG_PASSWORD

AD_ENABLED=true
AD_URL=ldap://10.1.10.11:389
AD_BASE_DN=DC=DMUK,DC=EDU
AD_BIND_DN=zkt@dmuk.edu.kz
AD_BIND_PASSWORD=CHANGE_ME_AD_SERVICE_PASSWORD
AD_BIND_DOMAIN=dmuk.edu.kz
AD_DEFAULT_DOMAIN=dmuk.edu.kz
AD_TARGET_OU=OU=Staff,OU=DMUK,DC=DMUK,DC=EDU
AD_DEFAULT_DEPARTMENT=DMUK
AD_CHANGE_PASSWORD_AT_LOGON=false
PROVISIONING_DRY_RUN=false

# В Linux Docker PowerShell/RSAT обычно нет. Для создания AD пользователей лучше запускать backend на Windows-сервере.
# Если контейнер Linux не умеет New-ADUser, оставьте dry-run=true или вынесите AD provisioning в Windows service.
POWERSHELL_EXECUTABLE=powershell

M365_SYNC_ENABLED=true
M365_SYNC_HOST=10.1.10.11
M365_SYNC_USERNAME=dmuk\\service-account
M365_SYNC_PASSWORD=CHANGE_ME_M365_SYNC_PASSWORD

ZKTECO_SYNC_ENABLED=true
ZKTECO_HOST=10.1.70.2
ZKTECO_PORT=5442
ZKTECO_DB_NAME=biosecurity-boot
ZKTECO_USERNAME=root
ZKTECO_PASSWORD=CHANGE_ME_ZKTECO_DB_PASSWORD
ZKTECO_PHOTO_ROOT=//10.1.70.2/C$/Program Files/ZKBioCVSecurity/service/zkbiosecurity/BioSecurityFile

SYNOLOGY_ENABLED=false
SYNOLOGY_HOST=10.1.30.49
SYNOLOGY_ROOT_PATH=/data/people
SYNOLOGY_USERNAME=
SYNOLOGY_PASSWORD=

MAIL_ENABLED=true
MAIL_HOST=smtp.office365.com
MAIL_PORT=587
MAIL_USERNAME=zkt@dmuk.edu.kz
MAIL_PASSWORD=CHANGE_ME_MAIL_PASSWORD
MAIL_FROM=zkt@dmuk.edu.kz
MAIL_STARTTLS=true
